<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">

    <div class="navbar-header">
       <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse-aiy" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">艾元臻妙</a>
    </div>



    <div class="collapse navbar-collapse" id="collapse-aiy">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">经脉穴位 <span class="sr-only">(current)</span></a></li>
        <li><a href="http://bz.aiyuanzhenmiao.com">病症搜索</a></li>
      </ul>
      <!--<button type="button" class="btn btn-default navbar-btn navbar-right" onclick="javascript:window.location.go(-1);">返回</button>-->
    </div>

  </div>
</nav>

<div class="col-xs-12"><img class="center-block" width="300" src="/images/aiylogo.jpg"></div>
